<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello!</title>
    <style>
        .videoContainer {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="videoContainer">
        <iframe class="videoContainer__video" width="1920" height="1080" src="https://www.youtube.com/embed/Gbgfg9zW4R8?modestbranding=1&autoplay=1&controls=0&fs=0&loop=1&playlist=Gbgfg9zW4R8&rel=0&showinfo=0&disablekb=1"
            frameborder="0"></iframe>
    </div>
</body>

</html>